<form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
    <section class="header-section">
        <div class="header">contact us</div>
    </section>
    <section>
        <div class="label">Subject</div>
        <input placeholder="subject" type="text" name="subject" ngModel autofocus>
    </section>
    <section class="two-column-section">
        <div>
            <div class="label">E-mail</div>
            <input placeholder="email" type="email" name="email" ngModel autofocus>
        </div>
        <div>
            <div class="label">Phone</div>
            <input placeholder="phone" type="tel" name="phone" ngModel autofocus>
        </div>
    </section>
    <section>
        <div class="label">Your message</div>
        <textarea placeholder="Type your message here...." name="body" ngModel></textarea>
    </section>
    <section *ngIf="preview.length">
        <div class="label">Preview</div>
        <div class="preview-galery">
            <div *ngFor="let img of preview" class="preview-line">
                <img [src]="img" alt="">
            </div>
        </div>
    </section>
    <section class="file-input-section">
        <div *ngIf="!preview.length" class="file-input-label">Attach a screenshot</div>
        <div class="file-input-container">
            <div class="file-input-text">
                <fa-icon [icon]="faUpload"></fa-icon>
                <span *ngIf="!preview.length">Choose a file...</span>
                <span *ngIf="preview.length">add...</span>
            </div>
            <input class="file-input" type="file" (change)="onFileSelected($event)" multiple accept="image/*">
        </div>
    </section>
    <section class="send-section">
        <button class="contact-submit">send</button>
    </section>
</form>