form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 550px;
  font-family: sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
  margin: 20px 40px;
}

.center {
    text-align: center;
}

textarea {
  padding: 3px;
  height: 150px;
  resize: none;
}

input {
  height: 40px;
  padding: 0 3px;
}

input , textarea {
  padding: 10px;
  width: 100%;
    font-size: 15px;
    border: 1px solid #06454d;
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    outline: 0;
}

textarea:focus, input:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

button {
  padding: 15px 37px 15px 50px;  
  border: none;
  background: var(--form-color);
  color: white;
  font-size: 25px;
  letter-spacing: 0.5px;
}

button:hover {
  background: #013a3c;
}

.send-section {
  direction: rtl;
}

.label {
  margin-bottom: 3px;
  font-weight: bold !important;
  font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #453b3b;
}

.header {
  font-size:30px;
  font-family: ariel;
  letter-spacing: 2px;  padding: 15px;
  font-weight: 500;
  color: white;
}

.file-input-label {
  margin-bottom: 10px;
}

.file-input-container {
  width: 160px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  background-color: white;
  color: var(--form-color);
  border: 1px solid var(--form-color);
  font-weight: 550;
}

.file-input-container:hover {
  background-color: var(--form-color);
  color: white;
}


.file-input,
.file-input-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.file-input {
  opacity: 0;
  z-index: 200;
}

.file-input-text {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

fa-icon {
  margin-right: 10px;
}

img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.preview-galery {
  display: inline-flex;
  flex: 1;
  padding: 7px;
  border-top: 0.5px solid #9E9E9E;
  height: 100px;
}

.overflow-scrol {
  overflow-x: scroll;
  overflow-y: hidden;
}

.preview-line {
  width: 100px;
  /* height: 70px; */
  margin: 5px 7px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  position: relative;
}

.header-section {
  background: var(--form-color);
  margin: 0;
  text-align: center;
}

.two-column-section {
  display: flex;
  justify-content: space-between;
}

.file-input-section {
  text-align: center;
  margin-top: 0 !important;
}


::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: var(--form-color); 
}

::-webkit-scrollbar-thumb:hover {
  background: #014e51; 
}

.preview-line fa-icon {
  color: grey;
  position: absolute;
  z-index: 100;
  right: 0;
  top: -6px;
}

.attachments-conteinr {
  display: flex;
}

.contact-submit fa-icon {
  font-size: 25px;
  margin: 0px 0px 0px 8px;
}

/* ------------------------------ */

.foldtl {
  position: relative;
}
 
.foldtl:before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 0px;
  height: 0px;
  border-top: 17px solid #eee;
  border-left: 17px solid transparent;
  -webkit-box-shadow: -7px -7px -7px rgba(0,0,0,0.3);
  -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
  box-shadow: -7px -7px -7px rgba(0,0,0,0.3);
}
 
.foldtl:after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 0px;
  height: 0px;
  border-bottom: 16px solid white; 
  border-right: 16px solid rgba(158, 158, 158, 0.7);
}