<form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
    <section class="header-section">
        <div class="header">contact us</div>
    </section>
    <section>
        <div class="label">Subject</div>
        <input placeholder="subject" type="text" name="subject" ngModel autofocus>
    </section>
    <section class="two-column-section">
        <div style="width: 47%;">
            <div class="label">E-mail</div>
            <input placeholder="email" type="email" name="email" ngModel autofocus>
        </div>
        <div style="width: 47%;">
            <div class="label">Phone</div>
            <input placeholder="phone" type="tel" name="phone" ngModel autofocus>
        </div>
    </section>
    <section>
        <div class="label">Your message</div>
        <textarea placeholder="Type your message here...." name="body" ngModel></textarea>
    </section>
    <section>
        <div class="label">Attachments</div>
        <div [class.overflow-scrol]="preview.length > 3" class="attachments-conteinr">
            <div class="preview-galery">
                <div *ngFor="let img of preview" class="preview-line page foldtl">
                    <fa-icon [icon]="faPaperclip"></fa-icon>
                    <img [src]="img" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="file-input-section">
        <div class="file-input-label">Attach a screenshot</div>
        <div class="file-input-container">
            <div class="file-input-text">
                <fa-icon [icon]="faUpload"></fa-icon>
                <span>Choose a file...</span>
            </div>
            <input class="file-input" type="file" (change)="onSelectedFile($event)" multiple accept="image/*">
        </div>
    </section>
    <section class="send-section">
        <button class="contact-submit"><fa-icon [icon]="faAngleDoubleRight"></fa-icon>send</button>
    </section>
</form>